<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMyService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8731/UDMService/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMyService" contract="ServiceReference.IMyService"
                name="NetTcpBinding_IMyService" />
        </client>
    </system.serviceModel>
</configuration>
